img{
	width:250px;
	margin:20px 0;
}
.portfolioPage{
	text-align:center;
	border:5px dotted whitesmoke;
	border-radius:20px;
	background:#ffc0cb;
	margin:40px auto;
	font-family:Papyrus;
}
h3{
	margin-bottom:1px;
} 
.centeringList{
	text-align:center;
	margin-top:1px;
}
ul {
  display: inline-block;
  text-align: left;
}
button{
	margin:10px auto 20px;
	padding:6px 10px;
	border:1px solid whitesmoke;
	border-radius:5px;
}
input{
	padding:6px 10px;
	border:1px solid whitesmoke;
	border-radius:5px;
}
input:hover{
	background-color:#e0e0e0;
}
button:hover{
	
	background-color:#e0e0e0;
}
.Liststle:hover{
	text-shadow:0 0 2px black;
	font-style:italic;
}
.fontStle{
	font-family:Garamond;
}